# Copyright 2018 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
{% set EMAIL = env['project'] +'@'+ env['project'] +'.iam.gserviceaccount.com' %}

resources:
- type: gcp-types/compute-v1:instances
  name: {{ properties["instanceName"] }}
  properties:
    zone: {{ properties["zone"] }}
    machineType: zones/{{ properties["zone"] }}/machineTypes/n1-standard-4
    disks:
    - boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/windows-cloud/global/images/family/windows-2016
    networkInterfaces:
    - network: global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    serviceAccounts:
      - email: {{ EMAIL }}
        scopes:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/source.full_control
    tags:
      items:
        - "rdp-server"
    metadata:
      items:
      - key: windows-startup-script-ps1
        value: |
          # powershell
          "Installing Chrome Browser ..."
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          wget "http://dl.google.com/chrome/install/375.126/chrome_installer.exe" -outfile "c:\windows\TEMP\chrome_installer.exe"
          start-process c:\windows\TEMP\chrome_installer.exe "/silent /install" -wait

- name: rdp-firewall-rule
  type: compute.v1.firewall
  properties:
    sourceRanges: ["0.0.0.0/0"]
    targetTags: [ "rdp-server" ]
    allowed:
    - IPProtocol: TCP
      ports: ["3389"]

outputs:
- name: ExternalIP
  value: $(ref.{{ properties["instanceName"] }}.networkInterfaces[0].accessConfigs[0].natIP)
- name: InternalIP
  value: $(ref.{{ properties["instanceName"] }}.networkInterfaces[0].networkIP)