

resources:

{# Bucket for source file #}

- name: bucket-{{ env['project'] }}
  type: storage.v1.bucket

- type: gcp-types/storage-v1:bucketAccessControls
  name: bucket-{{ env['project'] }}-ACL
  properties:
    bucket: bucket-{{ env['project'] }}
    entity: allUsers
    role: READER
  metadata:
    dependsOn:
    - bucket-{{ env['project'] }}

{# Remove the default network #}
- name: remove_default_network
  type: cloud_function.py
  properties:
    # All the files that start with this prefix will be packed in the Cloud Function
    codeLocation: function/
    codeBucket: bucket-{{ env['project'] }}
    codeBucketObject: function.zip
    location: us-central1
    timeout: 540s
    availableMemoryMb: 256
    entryPoint: main
    runtime: python37
  metadata:
    dependsOn:
    - bucket-{{ env['project'] }}-ACL

- name: function-call
  action: gcp-types/cloudfunctions-v1:cloudfunctions.projects.locations.functions.call
  properties:
    name: $(ref.remove_default_network.name)
  metadata:
    runtimePolicy:
    - UPDATE_ALWAYS
  metadata:
    dependsOn:
    - bucket-{{ env['project'] }}-ACL
    - remove_default_network

{# Networks #}
- name: qwiklabs-security-vpc-mgmt
  type: gcp-types/compute-v1:networks
  properties:
    description: "FW Mgmt, a custom VPC for the Qwiklabs Security Challenge Lab"
    autoCreateSubnetworks: false
  metadata:
    dependsOn:
    - function-call
  
- name: qwiklabs-security-vpc-jump
  type: gcp-types/compute-v1:networks
  properties:
    description: "Jumphost, a custom VPC for the Qwiklabs Security Challenge Lab"
    autoCreateSubnetworks: false
  metadata:
    dependsOn:
    - function-call
  
- name: qwiklabs-security-vpc-public
  type: gcp-types/compute-v1:networks
  properties:
    description: "FW Public, a custom VPC for the Qwiklabs Security Challenge Lab"
    autoCreateSubnetworks: false
  metadata:
    dependsOn:
    - function-call
  
- name: qwiklabs-security-vpc-trusted
  type: gcp-types/compute-v1:networks
  properties:
    description: "FW Trusted, a custom VPC for the Qwiklabs Security Challenge Lab"
    autoCreateSubnetworks: false
  metadata:
    dependsOn:
    - function-call
  
- name: qwiklabs-security-vpc-common
  type: gcp-types/compute-v1:networks
  properties:
    description: "Common Services, a custom VPC for the Qwiklabs Security Challenge Lab"
    autoCreateSubnetworks: false
  metadata:
    dependsOn:
    - function-call

{# Subnets #}
- name: qwiklabs-security-subnet-mgmt
  type: gcp-types/compute-v1:subnetworks
  properties:
    ipCidrRange: 10.5.0.0/24
    network: $(ref.qwiklabs-security-vpc-mgmt.selfLink)
    region: us-central1
    privateIpGoogleAccess: true
    enableFlowLogs: true
    logConfig:
      enable: true
      flowSampling: 1

- name: qwiklabs-security-subnet-jump
  type: gcp-types/compute-v1:subnetworks
  properties:
    ipCidrRange: 10.5.1.0/24
    network: $(ref.qwiklabs-security-vpc-jump.selfLink)
    region: us-central1
    privateIpGoogleAccess: true
    enableFlowLogs: true
    logConfig:
      enable: true
      flowSampling: 1

- name: qwiklabs-security-subnet-public
  type: gcp-types/compute-v1:subnetworks
  properties:
    ipCidrRange: 10.5.2.0/24
    network: $(ref.qwiklabs-security-vpc-public.selfLink)
    region: us-central1
    privateIpGoogleAccess: true
    enableFlowLogs: true
    logConfig:
      enable: true
      flowSampling: 1

- name: qwiklabs-security-subnet-trusted
  type: gcp-types/compute-v1:subnetworks
  properties:
    ipCidrRange: 10.5.3.0/24
    network: $(ref.qwiklabs-security-vpc-trusted.selfLink)
    region: us-central1
    privateIpGoogleAccess: true
    enableFlowLogs: true
    logConfig:
      enable: true
      flowSampling: 1

- name: qwiklabs-security-subnet-common
  type: gcp-types/compute-v1:subnetworks
  properties:
    ipCidrRange: 10.5.4.0/24
    network: $(ref.qwiklabs-security-vpc-common.selfLink)
    region: us-central1
    privateIpGoogleAccess: true
    enableFlowLogs: true
    logConfig:
      enable: true
      flowSampling: 1

- name: qwiklabs-security-rtr-common
  type: compute.v1.router
  properties:
    network: $(ref.qwiklabs-security-vpc-common.selfLink)
    region: us-central1
    nats:
    - name: qwiklabs-security-gw-common
      sourceSubnetworkIpRangesToNat: LIST_OF_SUBNETWORKS
      subnetworks:
      - name: $(ref.qwiklabs-security-subnet-common.selfLink)
        sourceIpRangesToNat: 
        - PRIMARY_IP_RANGE
      natIpAllocateOption: AUTO_ONLY
      logConfig:
        enable: true
        filter: ALL

{# VPC Peerings #}

- name: sbu-peer-mgmt-jump
  action: gcp-types/compute-v1:compute.networks.addPeering
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    network: qwiklabs-security-vpc-mgmt
    name: sbu-peer-mgmt-jump
    autoCreateRoutes: true
    peerNetwork: $(ref.qwiklabs-security-vpc-jump.selfLink)
  metadata:
    dependsOn:
    - qwiklabs-security-vpc-mgmt
    - qwiklabs-security-vpc-jump

- name: sbu-peer-jump-mgmt
  action: gcp-types/compute-v1:compute.networks.addPeering
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    network: qwiklabs-security-vpc-jump
    name: sbu-peer-jump-mgmt
    autoCreateRoutes: true
    peerNetwork: $(ref.qwiklabs-security-vpc-mgmt.selfLink)
  metadata:
    dependsOn:
    - qwiklabs-security-vpc-mgmt
    - qwiklabs-security-vpc-jump
    - sbu-peer-mgmt-jump


- name: sbu-peer-jump-common
  action: gcp-types/compute-v1:compute.networks.addPeering
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    network: qwiklabs-security-vpc-jump
    name: sbu-peer-jump-common
    autoCreateRoutes: true
    peerNetwork: $(ref.qwiklabs-security-vpc-common.selfLink)
  metadata:
    dependsOn:
    - qwiklabs-security-vpc-common
    - qwiklabs-security-vpc-jump
    - sbu-peer-jump-mgmt

- name: sbu-peer-common-jump
  action: gcp-types/compute-v1:compute.networks.addPeering
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    network: qwiklabs-security-vpc-common
    name: sbu-peer-common-jump
    autoCreateRoutes: true
    peerNetwork: $(ref.qwiklabs-security-vpc-jump.selfLink)
  metadata:
    dependsOn:
    - qwiklabs-security-vpc-common
    - qwiklabs-security-vpc-jump
    - sbu-peer-jump-common

- name: sbu-peer-common-trusted
  action: gcp-types/compute-v1:compute.networks.addPeering
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    network: qwiklabs-security-vpc-common
    name: sbu-peer-common-trusted
    autoCreateRoutes: true
    peerNetwork: $(ref.qwiklabs-security-vpc-trusted.selfLink)
  metadata:
    dependsOn:
    - qwiklabs-security-vpc-common
    - qwiklabs-security-vpc-trusted
    - sbu-peer-common-jump

- name: sbu-peer-trusted-common
  action: gcp-types/compute-v1:compute.networks.addPeering
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    network: qwiklabs-security-vpc-trusted
    name: sbu-peer-trusted-common
    autoCreateRoutes: true
    peerNetwork: $(ref.qwiklabs-security-vpc-common.selfLink)
  metadata:
    dependsOn:
    - qwiklabs-security-vpc-common
    - qwiklabs-security-vpc-trusted
    - sbu-peer-common-trusted

{# Firewall Rules #}
- type: gcp-types/compute-v1:firewalls
  name: qwiklabs-security-fw-allow-https-mgmt
  properties:
    network: projects/{{ env['project'] }}/global/networks/qwiklabs-security-vpc-mgmt
    sourceRanges: [0.0.0.0/0]
    allowed:
    - IPProtocol: tcp
      ports: [22,80,443]
    targetTags:
    - jumphost-ingress
  metadata:
    dependsOn: 
    - qwiklabs-security-vpc-mgmt

{# instances #}
- name: qwiklabs-security-gce-jump
  type: compute.v1.instance
  properties:
    zone: us-central1-f
    machineType: projects/{{ env["project"] }}/zones/us-central1-f/machineTypes/f1-micro
    serviceAccounts:
    - email: default
      scopes: 
      - https://www.googleapis.com/auth/cloud.useraccounts.readonly
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/logging.write
      - https://www.googleapis.com/auth/monitoring.write
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/debian-cloud/global/images/family/debian-9
    networkInterfaces:
    - subnetwork: regions/us-central1/subnetworks/qwiklabs-security-subnet-jump
      networkIP: 10.5.1.5
  metadata:
    dependsOn: 
    - qwiklabs-security-subnet-jump

- name: qwiklabs-security-gce-common
  type: compute.v1.instance
  properties:
    zone: us-central1-f
    machineType: projects/{{ env["project"] }}/zones/us-central1-f/machineTypes/f1-micro
    serviceAccounts:
    - email: default
      scopes: 
      - https://www.googleapis.com/auth/cloud.useraccounts.readonly
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/logging.write
      - https://www.googleapis.com/auth/monitoring.write
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/debian-cloud/global/images/family/debian-9
    networkInterfaces:
    - subnetwork: regions/us-central1/subnetworks/qwiklabs-security-subnet-common
      networkIP: 10.5.4.6
  metadata:
    dependsOn: 
    - qwiklabs-security-subnet-common

- name: fw-host
  type: compute.v1.instance
  properties:
    zone: us-central1-f
    machineType: projects/{{ env["project"] }}/zones/us-central1-f/machineTypes/n1-standard-4
    serviceAccounts:
    - email: default
      scopes: 
      - https://www.googleapis.com/auth/cloud.useraccounts.readonly
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/logging.write
      - https://www.googleapis.com/auth/monitoring.write
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/debian-cloud/global/images/family/debian-9
    networkInterfaces:
    - subnetwork: regions/us-central1/subnetworks/qwiklabs-security-subnet-mgmt
      networkIP: 10.5.0.4
      accessConfigs:
      - name: MGMT Access
        type: ONE_TO_ONE_NAT
    - subnetwork: regions/us-central1/subnetworks/qwiklabs-security-subnet-public
      networkIP: 10.5.2.4
      accessConfigs:
      - name: External Access
        type: ONE_TO_ONE_NAT
    - subnetwork: regions/us-central1/subnetworks/qwiklabs-security-subnet-trusted
      networkIP: 10.5.3.4
    
  metadata:
    dependsOn: 
    - qwiklabs-security-subnet-trusted
    - qwiklabs-security-subnet-public
    - qwiklabs-security-subnet-mgmt

- name: webapp-host
  type: compute.v1.instance
  properties:
    zone: us-central1-f
    machineType: projects/{{ env["project"] }}/zones/us-central1-f/machineTypes/f1-micro
    serviceAccounts:
    - email: default
      scopes: 
      - https://www.googleapis.com/auth/cloud.useraccounts.readonly
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/logging.write
      - https://www.googleapis.com/auth/monitoring.write
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/debian-cloud/global/images/family/debian-9
    networkInterfaces:
    - subnetwork: regions/us-central1/subnetworks/qwiklabs-security-subnet-trusted
      networkIP: 10.5.3.7
  metadata:
    dependsOn: 
    - qwiklabs-security-subnet-trusted